/**************************
 COLOR SCHEME:
#11296B
#00509D
#EDEDED
#FFDB57
#FFCB05
****************************/
nav {
  background: linear-gradient(to right, #00509d, #ededed, #ffdb57);
}

#nav {
  color: white;
}

.searchBtn {
  color: #007bff;
}

.searchBar {
  width: 400px;
  height: 60px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}
