.searchBtn {
  display: inline;
  color: #007bff;
}

.searchForm{
  /* border: solid 1px red; */
  width: 400px;
  height: 60px;
}

.searchBar{
  width: 85%;
  height: 100%;
  border: none;
  border-bottom: 1px solid grey;
}